.courses-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Banner */
.courses-banner {
  display: flex;
  gap: 10px;
  background: #0b2c4a;
  padding: 20px;
  border-radius: 8px;
}

.courses-banner input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.courses-banner button {
  padding: 10px 20px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Info */
.courses-info {
  background: #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.courses-info span {
  color: blue;
  cursor: pointer;
}

/* Title */
.courses-title {
  margin: 20px 0;
}

.courses-subtitle {
  margin: 20px 0 10px;
  font-size: 22px;
  font-weight: 600;
}

/* Filter Buttons */
.course-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.course-filter button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #e5e7eb;   /* light grey */
  color: #333;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

/* Active Button (Dark Blue) */
.course-filter button.active {
  background: #0b2c4a;
  color: white;
}

/* Hover Effect */
.course-filter button:hover {
  background: #cbd5e1;
}
/* Layout */
.courses-content {
  display: flex;
  gap: 20px;
}

/* Left */
.courses-list {
  flex: 3;
}

.course-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.course-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.course-filters button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #e5e7eb;   /* light grey */
  color: #333;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
/* Hover Effect */
.course-filters button:hover {
  background:#0b2c4a;
}


/* Right Sidebar */
.courses-sidebar {
  flex: 1;
  background: #0b2c4a;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.courses-sidebar ul {
  list-style: none;
  padding: 0;
}

.courses-sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
